<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginDBContext</servlet-name>
        <servlet-class>controler.LoginControler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductControler</servlet-name>
        <servlet-class>controler.function.AddProductControler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StoreControler</servlet-name>
        <servlet-class>controler.StoreProductControler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeControler_1</servlet-name>
        <servlet-class>controler.HomeControler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditStoreContrler</servlet-name>
        <servlet-class>controler.function.EditStoreContrler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductInStore</servlet-name>
        <servlet-class>controler.function.DeleteProductInStore</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InportProductControler</servlet-name>
        <servlet-class>controler.InportProductControler</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginDBContext</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductControler</servlet-name>
        <url-pattern>/product/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StoreControler</servlet-name>
        <url-pattern>/product/store</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeControler_1</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditStoreContrler</servlet-name>
        <url-pattern>/store/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductInStore</servlet-name>
        <url-pattern>/store/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InportProductControler</servlet-name>
        <url-pattern>/product/import</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
